# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/dist
/build

# misc
.DS_Store

# dotenv environment variables file
.env.*

#Ai
.claude/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
