@import '../theme1/variables'; /* parent theme styles (light version of this theme) */

/* Variables Overrides for bootstrap default variables */

// Color system

$white: #333333;
$gray-600: #69737c;
$gray-900: #ced4da;
