@import './base/_base.scss';
@import './base/_typography.scss';
@import './base/_colors.scss';
@import './layout/_layout.scss';
@import './components/_component.scss';

/*
BASE: animations, base, typography, and utilies.
COMPONENTS: single scss file for each individual component
LAYOUT: header, footer, grid, navigation
PAGES: a single scss for each specific page
THEMES: various themes for project
ABSTRACTS: handles function, mixins, and variables
VENDOR: handles 3rd party css
*/
