/* theme specific colors */

// Color palette
$rich-black: #001219;
$midnight-green: #005f73;
$dark-cyan: #0a9396;
$tiffany-blue: #94d2bd;
$vanilla: #e9d8a6;
$gamboge: #ee9b00;
$alloy-orange: #ca6702;
$rust: #bb3e03;
$rufous: #ae2012;
$auburn: #9b2226;
